h1 {
  font-style: italic;
  color:##0a7a96;
  font-size: 100px;
  font-family: impact;
  align-items: right;
}

h2 {
  align-self: center;
  color: #f28d09;
  font-family: lucida;
  font-size: 85px;
  font-stretch: extra-expanded;
}

ol {
  color: #white;
  font-size: 65px;
  align-items: center;
  font-style: italic;
  font-family: comic;
  font-stretch: expanded;
}

body {
  background-color:#d2fcae;
}
